<div class="row">
    <div class="col-sm-3">
        <a class="card" href="/records/pendingApproval">
            <img class="card-img-top" src="/images/approved.jpg" alt="image of checkmark">
            <div class="card-body">
              <p class="card-text">Approve Vaccination records: <span id="countPendingApproval">0</span> pending approvals</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/records/support/new">
            <img class="card-img-top" src="/images/upload.jpg" alt="Image of graph">
            <div class="card-body">
              <p class="card-text">Upload employee record documentation</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/records"> 
            <img class="card-img-top" src="/images/records.jpg" alt="Image of records">
            <div class="card-body">
              <p class="card-text">Review Vaccination Records</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/vaccinations/report">
            <img class="card-img-top" src="/images/graphs.png" alt="View Report">
            <div class="card-body">
              <p class="card-text">View Covid Vaccination Report</p>
            </div>
        </a>
    </div>
</div>

<script src="/js/getCountRecordsPendingApproval.js"></script>