<div class="row">
    <div class="col-sm-3">
        <a class="card" href="/records/view">
            <img class="card-img-top" src="/images/approved.jpg" alt="image of checkmark">
            <div class="card-body">
              <p class="card-text">Approve Vaccination records: 5 pending approvals</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/records/support/new">
            <img class="card-img-top" src="/images/graphs.png" alt="Image of graph">
            <div class="card-body">
              <p class="card-text">View Vaccination Reports</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/records/test/new"> 
            <img class="card-img-top" src="/images/records.jpg" alt="Image of records">
            <div class="card-body">
              <p class="card-text">Review Vaccination Records</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/problem">
            <img class="card-img-top" src="/images/reportProblem.jpg" alt="Report problem image">
            <div class="card-body">
              <p class="card-text">Report a problem</p>
            </div>
        </a>
    </div>
</div>