<div class="row">
    <div class="col-sm-3">
        <a class="card" href="/records/view">
            <img class="card-img-top" src="/images/records.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">View your vaccination record</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/records/support/new">
            <img class="card-img-top" src="/images/upload.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Add Supporting documentation to your vaccation record</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/records/test/new"> 
            <img class="card-img-top" src="/images/submit.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Submit test results</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="card" href="/problem">
            <img class="card-img-top" src="/images/reportProblem.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Report a problem</p>
            </div>
        </a>
    </div>
</div>