<%-include("partials/header.ejs")%>
<main>
    <div class="container">
        <h1>Looking for help?</h1>
        <section>
            <h2>FAQs</h2>
            <p>
                <ol>
                    <li>
                        <div><strong>How do I change my password?</strong></div>
                        <div>VacsTrack doesn't use a self-service password reset, you will need to contact your VacsTrack administrator</div>
                    </li>
                    <li>
                        <div><strong>How do I see my vaccination records?</strong></div>
                        <div>There is an option on the dashboard for viewing and adding vaccination records</div>
                    </li>
                    <li>
                        <div><strong>What if my vaccination record isn't approved?</strong></div>
                        <div>This means that your organization's representative that approves records hasn't approved yours yet.</div>
                    </li>
                </ol>
            </p>
        </section>
        <section>
            <h2>How to get in contact with us</h2>
            <p>
                <ul>
                    <li>You can call our customer service number: 555-444-3333</li>
                    <li>You can mail us at 123 Sesame Street, Atlanta, GA 30349</li>
                    <li>You can email us at help@vacstrack.net</li>
                </ul>
            </p>
        </section>
    </div>

</main>
<%-include("partials/footer.ejs")%>
