<%-include("partials/header.ejs")%>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome <%if(user){%><%=user.firstName%><%}%></h1>
            <p class="lead">VacsTrack is the world leading source for employee vaccination tracking.</p>
        </div>
        <%if(user && user.type == 'Standard'){%>
            <%-include('partials/standarduserDashboard.ejs')%>
        <%}%>
        
    </div>

</main>
<%-include("partials/footer.ejs")%>
