<%-include("../partials/header.ejs")%>
<main>
    <div class="container">
        <h1>User created!</h1>
        <a href="/users/new" class="btn">Create Another User</a>
        <a href="/users" class="btn">View All Users</a>
    </div>
</main>
<%-include("../partials/footer.ejs")%>