:root {
  --primary-bg : #9A8F97;
  --secondary-bg: #403F4C;
  --primary-text: #EDFFEC;
  --blue: #197B5F;
  --ltgreen: #1B998B;
}
body {
  background-color:var(--primary-bg);

}

nav > * {
  font-size: xx-large;
  color: white
}


form > * {
  color: white;
}

.bg-second{
  background-color: var(--secondary-bg);
}

.btn-primary{
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-primary:hover{
  background-color: var(--ltgreen);
  border-color: var(--blue);
}

#navbarNavDropdown{
  flex: 1 1 auto;
  justify-content: space-between;
}

.nav-link{
  color: white
}
