<%-include("../../partials/header.ejs")%>
<main>
    <div class="container center">
        <form id="newTestResultForm" action="/records/test/new" method="post">
            <section class="form-group">
                <label for="date">Date</label>
                <input class="form-control col-md-3" id="date" name="date" type="date" required autocomplete="off">
            </section>
            <section class="form-group">
                <label>Result</label>
                <div class="form-check">
                    <input id="positive" type="radio" class="form-check-input" name="positive" value="1">
                    <label for="positive" class="form-check-label">Positive</label>
                </div>
                <div class="form-check">
                    <input id="negative" type="radio" class="form-check-input" name="positive" value="0">
                    <label for="negative" class="form-check-label">Negative</label>
                </div>
            </section>
            <section class="form-group">
                <label>Taken at home?</label>
                <div class="form-check">
                    <input id="atHomeYes" type="radio" class="form-check-input">
                    <label for="atHomeYes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input id="atHomeNo" type="radio" class="form-check-input">
                    <label for="atHomeNo" class="form-check-label">No</label>
                </div>
            </section>
            <section class="form-group">
                <label>Was it a Rapid Test?</label>
                <div class="form-check">
                    <input id="rapidYes" type="radio" class="form-check-input">
                    <label for="rapidYes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input id="rapidNo" type="radio" class="form-check-input">
                    <label for="rapidNo" class="form-check-label">No</label>
                </div>
            </section>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</main>
<%-include("../../partials/footer.ejs")%>