<%-include("../partials/header.ejs")%>
<main>
    <div class="container">
        <form action="/vaccination/new" method="post">
            <input type="text" id="employeeID" name="employeeID" hidden>
            <input type="text" id="vacsID" name="vacsID" hidden>
            <section class="form-group">
                <label for="vacsType">Employee</label>
                <input class="form-control col-md-3" id="employee" name="employee" type="text" required autofocus>
                <div id="employeeInput">

                </div>
            </section>
            <section class="form-group">
                <label for="vacsType">Vaccine</label>
                <input class="form-control col-md-3" id="vaccine" name="vaccine" type="text" required>
            </section>
            <section class="form-group">
                <label for="vacsType">Date Taken</label>
                <input class="form-control col-md-3" id="dateTaken" name="dateTaken" type="text" required>
            </section>
            <section class="form-group">
                <label for="name">Dose Number</label>
                <input class="form-control col-md-3" id="doseNumber" name="doseNumber" type="text" required>
            </section>
            <section class="form-group">
                <label for="manufacturer">Location</label>
                <input class="form-control col-md-3" id="location" name="location" type="text" required>
            </section>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</main>
<script src="/js/setUserOnVacsRecord.js"></script>
<%-include("../partials/footer.ejs")%>
