<%-include("../partials/header.ejs")%>
<main>
    <div class="container">
        <form action="/vaccinations/new" method="post">
            <section class="form-group">
                <label for="vacsType">Vaccine Type</label>
                <input class="form-control col-md-3" id="vacsType" name="vacsType" type="text" required autofocus>
            </section>
            <section class="form-group">
                <label for="name">Vaccine Name</label>
                <input class="form-control col-md-3" id="name" name="name" type="text" required>
            </section>
            <section class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input class="form-control col-md-3" id="manufacturer" name="manufacturer" type="text" required>
            </section>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</main>
<%-include("../partials/footer.ejs")%>
