<%-include("../partials/header.ejs")%>
<main>
    <div style="text-align: center;" class="container">
        <h1>76.9% of employees are vaccinated</h1>

        <svg width="600" height=600>
            <circle r="300" cx="300" cy="300"/>
        </svg>
        <div>
            <span id="legend-unvaccinated"></span>
            <span id="unvaxd">3</span> employees are unvaccinated
        </div>
        <div>
            <span id="legend-vaccinated"></span>
            <span id="vaxd">10</span> employees are vaccinated
        </div>

    </div>
</main>
<%-include("../partials/footer.ejs")%>
